.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #831414;
  height: 100px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #831414;
  display: block;
  align-items: center;
  justify-content: center;
  height: 870px;
}

.App-3D-viewer {
  display: block;
  width: 100%;
  height: 300px;
}

.App-footer {
  background-color: #831414;
  height: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  margin: 20px;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
